<p style="padding-left: 12px;">Hello there this is an about page. Here we can provide whatever we want toand we can also
    use simple tags of html in ejs files.
</p>
<p style="padding-left: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a type specimen book. It has survived not only five centuries It was popularised in the 1960s
    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
    software like Aldus.
</p>