<!-- <form class ="form_12">
    <h3>Please enter your Email</h3>
    <div class="form__control">
      <label for="uname" class="label_1">User Name</label>
      <input type="email" class="input_1" id="uname" name="uname"  required="email is required" placeholder="User Name"/>
    </div>
    <div class="button_div2">
        <a href=""><button type="button" class="button">send</button></a>
    </div>
</form>     -->
<h1 style="text-align: center;">successfully logged in </h1>