<h1 style="margin: auto;">hello world!!!!!!!!!!</h1>
<p>ln technical writing, the introduction typically includes one or more standard subsections: abstract or summary,
    preface, acknowledgments, and foreword. Alternatively, the section labeled introduction itself may be a brief
    section found side-by-side with abstract, foreword, etc. (rather than containing them). In this case, the set of
    sections that come before the body of the book is known as the front matter. When the book is divided into numbered
    chapters, by convention the introduction and any other front-matter sections are unnumbered and precede chapter 1.

    Keeping the concept of the introduction the same, different documents have different styles to introduce the written
    text. For example, the introduction of a Functional Specification consists of information that the whole document is
    yet to explain. If a Userguide is written, the introduction is about the product. In a report, the introduction
    gives a summary of the report's contents.
</p>
<div class="body__">
    
</div>